.banner {
  background-size: cover;
  height: 450px;
  border: none;
  position: relative;
}
.banner-description {
  position: absolute;
  top: 70px;
  left: 90px;
}
.banner-description > h2 {
  color: #C9D4CA;
  text-shadow: 0 0.5px 0.5px  #929292;
  margin-bottom: 10px;
}
.banner-description > h3 {
  color: #FFFFFF;
  text-shadow: 0 0.5px 0.5px  #929292;
  margin-bottom: 68px;
}
